@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1240px;
}
@media only screen and (min-width: 960px) {
  .container {
    padding: 0 2em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.logo-search-basket {
  margin-top: 1em;
  display: flex;
  flex-flow: wrap;
}
.logo-search-basket .header-logo {
  flex: 1 50%;
}
.logo-search-basket .header-search {
  flex: 2 500px;
}
.logo-search-basket .header-basket {
  flex: 1;
}
@media only screen and (min-width: 960px) {
  .logo-search-basket {
    align-items: flex-end;
    padding: 0 2em;
    justify-content: space-between;
  }
  .logo-search-basket .header-logo {
    flex: 1;
  }
  .logo-search-basket .header-search {
    flex: 2 500px;
    order: 2;
  }
  .logo-search-basket .header-basket {
    flex: 1;
    order: 3;
  }
}

.is-hidden {
  display: none;
  visibility: hidden;
}

button,
input[type=submit] {
  cursor: pointer;
}

.header-top {
  border-bottom: 1px solid #d7d7d7;
}
.header-top .container {
  display: flex;
  justify-content: space-between;
}
.header-top ul {
  margin: 0;
  padding: 0;
}
.header-top ul li {
  display: inline-block;
}
@media only screen and (min-width: 960px) {
  .header-top ul.account li {
    border-left: 1px solid #d7d7d7;
    padding-left: 1em;
  }
  .header-top ul.account li:last-child {
    border-right: 1px solid #d7d7d7;
  }
}
.header-top a {
  display: inline-block;
  text-decoration: none;
  color: #000;
}
@media only screen and (max-width: 600px) {
  .header-top a {
    text-indent: -99999px;
    padding: 1em;
    background: no-repeat center center;
  }
}
@media only screen and (min-width: 960px) {
  .header-top a {
    padding: 1em 1em 1em 1.5em;
    background: no-repeat center left;
  }
}
.header-top a:hover, .header-top a:focus {
  color: #ea2260;
}
.header-top .contact-tel {
  background-image: url(../img/icon__phone.svg);
}
.header-top .contact-mail {
  background-image: url(../img/icon__mail.svg);
}
.header-top .account-login {
  background-image: url(../img/icon__login.svg);
}
.header-top .account-new {
  background-image: url(../img/icon__myaccount.svg);
}

.header-search {
  max-width: 600px;
}
.header-search form {
  position: relative;
}
.header-search input {
  border: none;
  background: none;
}
.header-search input[type=search] {
  width: 100%;
  border-bottom: 1px solid #191919;
  padding: 1em 3em 1em 1em;
  color: #a3a2a2;
}
.header-search input[type=submit] {
  width: 3em;
  height: 3em;
  right: 0;
  z-index: 1;
  position: absolute;
  background: url(../img/icon__lens.svg) no-repeat center center;
}

.header-basket {
  position: relative;
}
.header-basket:hover .basket-details {
  display: block;
}

.basket {
  display: flex;
  padding-bottom: 2em;
}
.basket .basket-icon {
  position: relative;
  background: url(../img/icon__basket.svg) no-repeat;
  width: 26px;
  height: 31px;
}
.basket .basket-icon span {
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 2em;
  background: #ecc7d0;
  border-radius: 100%;
  color: #fff;
}
.basket .basket-title {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .basket .basket-title {
    display: block;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
  }
}

.basket-details {
  display: none;
  width: 300px;
  position: absolute;
  right: 0;
  z-index: 100;
  background: #fff;
  border: 3px solid #eeeeee;
  box-shadow: #00000010 0 0 13px;
  padding: 20px;
}
.basket-details .basket-details-count span,
.basket-details .basket-details-amount span {
  font-weight: 700;
}
.basket-details .basket-details-count {
  font-size: 12px;
}
.basket-details .basket-details-amount {
  font-size: 14px;
}
.basket-details .basket-details-amount span {
  font-size: 16px;
}
.basket-details .products-list {
  margin: 1em 0;
  padding: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.basket-details .products-list li {
  margin: 2em 0;
  display: flex;
  justify-content: flex-start;
}
.basket-details .products-list .product-description {
  flex-grow: 4;
  margin-left: 1em;
}
.basket-details .products-list .product-description h6 {
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
}
.basket-details .products-list .product-description .price {
  font-size: 14px;
  font-weight: 700;
}
.basket-details .products-list .discount h6,
.basket-details .products-list .discount .price-before {
  color: #eb316b;
}
.basket-details .products-list .discount .price-before {
  margin-left: 1em;
  font-size: 11px;
  text-decoration: line-through;
}
.basket-details .products-list .product-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket-details .products-list .product-edit .quantity {
  font-size: 12px;
}
.basket-details .products-list .product-edit .quantity input {
  width: 50px;
  padding: 0.5em;
  display: inline-block;
  border: 1px solid #cbcbcb;
}
.basket-details .products-list .product-edit button {
  width: 20px;
  height: 20px;
  border: none;
  background: no-repeat center center;
}
.basket-details .products-list .product-edit button.edit {
  background-image: url(../img/icon__edit.png);
}
.basket-details .products-list .product-edit button.delete {
  background-image: url(../img/icon__delete.png);
}
.basket-details .cta-container {
  text-align: center;
}
.basket-details .cta-button {
  display: inline-block;
  padding: 1em 2em;
  margin: 1em auto;
  background: #eb316b;
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.header-nav {
  margin: 2em 0;
}
.header-nav > ul {
  margin: 0;
  padding: 0;
}
.header-nav > ul > li {
  display: block;
}
.header-nav > ul > li > a {
  padding: 1em 0;
  text-transform: uppercase;
}
.header-nav li {
  position: relative;
}
.header-nav a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
@media only screen and (min-width: 960px) {
  .header-nav > ul {
    display: flex;
    justify-content: space-between;
  }
  .header-nav > ul > li {
    display: inline;
  }
  .header-nav > ul > li > a {
    padding: 1em 0;
  }
}
.header-nav .submenu {
  margin: 0;
  padding: 0;
  display: none;
}
.header-nav .submenu li {
  margin: 0;
  padding: 0;
  display: block;
}
.header-nav .submenu li a {
  font-weight: 300;
  padding: 1em 2em;
  display: block;
}
.header-nav .submenu li a:hover {
  background-color: #f7f7f7;
}
@media only screen and (min-width: 960px) {
  .header-nav .submenu {
    position: absolute;
    z-index: 100;
    background: #fff;
    border: 3px solid #eeeeee;
    box-shadow: #00000010 0 0 13px;
  }
  .header-nav .submenu .submenu {
    left: 100%;
    top: 0;
  }
}
.header-nav .is-promo > a {
  color: #ecc7d0;
}
.header-nav li:hover > .submenu {
  display: block;
}

/*# sourceMappingURL=header.css.map */
