$font-family: 'Lato',
sans-serif;

$max-width: 1240px;

$media-small : "only screen and (min-width: 600px)";
$media-medium: "only screen and (min-width: 960px)";
$media-large : "only screen and (min-width: 1200px)";

$color-accent: #ea2260;